table {
  border: 2px solid forestgreen;
  width: auto;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
  text-align: center;
}

td {
  text-align: center;
}

button {
  border-radius: 20%;
  margin: 5px;
}
